.header {
    text-align: center;
}

.characterSelect {
    text-align: center;
    vertical-align: middle;
    min-height: 175px;
    /* background:aqua; */
}

.characterSelectIcon {
    text-align: center;
}